{% extends "app/pages/myFormP.html.twig" %}


{% block biz %}

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vat">VAT number <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="partitaIva" type="text" id="pi" required="required" class="form-control col-md-7 col-xs-12">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cm">Merchandise category <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="categoriaMerceologica" type="text" id="cm" required="required" class="form-control col-md-7 col-xs-12">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ca">Ateco code<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input name="codiceAteco" type="text" id="ca" required="required" class="form-control col-md-7 col-xs-12">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Company Statement Report * :</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" id="visura" name="visura" data-parsley-trigger="change" required />
        </div>
    </div>

{% endblock %}